/* Fix user-agent */

* {
  box-sizing: border-box;
}

::-webkit-scrollbar { 
  display: none; 
}

#notify svg path {
  fill: green !important;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  /* background-color: #000; */
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput, .passwordInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  border-radius: 0;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput, .passwordInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput, .passwordInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;

}

.userList {
  position: absolute;
  z-index: 100;
  right: 1%;
  top: 0;
}

/* Font */

@media (min-width: 1px) {
  .messages {
    font-size: 100%;
  }
  .inputMessage {
    font-size: 80%;
  }
}
@media (min-width: 768px) {
  .messages {
    font-size: 150%;
  }
  .inputMessage {
    font-size: 100%;
  }
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  min-height: 100%;
  padding: 0 0 60px 0;
  margin: 60px 0 -60px 0;
  overflow: hidden;
}

.messages {
  height: 100%;
  margin: 10px;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.messageBody {
  margin-left: 2em;
  min-width: 100%;
  width: 100%;
}

.message.typing .messageBody {
  color: gray;
}

.message {
  min-width: 100%;
  width: 100%;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1px) {
  .username {
    max-width: 100px;
  }
}
@media (min-width: 768px) {
  .username {
    max-width: 200px;
  }
}

/* Input */

.inputMessage {
  /* border: 10px solid #000; */
  border: 10px solid rgba(73,155,234,1);
  border: 10px solid -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  border: 10px solid -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  border: 10px solid -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  border: 10px solid -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  border: 10px solid -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  border: 10px solid linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 ); */
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: fixed;
  right: 0;
  width: 100%;
  border-radius: 0;
}

.container,
.container-fluid {
  min-height: 100%;
}

table {
  margin-bottom: 60px;
}

.navbar-white {
  background-color: white;
}

/* Used to force load the webfonts */
div.fake-hidden {
  width:0px;
  height:0px;
  overflow:hidden;
}