//
   Created by Jason on 13/11/2017.
doctype html
html
    head
        title NodeChat
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")      
        link(rel="stylesheet" href="/stylesheets/fontawesome-all.min.css")
        link(rel="stylesheet" href="/stylesheets/style.css")
        link(rel="shortcut icon" id="notify" href="/images/favicon.ico" type="image/x-icon")
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/client.js')
        script(src='/socket.io/socket.io.js')

    body
        div.fake-hidden
            i.fa.fa-square-o.fa-3x
        ul.pages
            li.chat.page
                nav.navbar.fixed-top.navbar-white
                    a.navbar-brand Welcome To NodeChat!
                    span.navbar-text
                        span#disconnect(style="margin-right: 10px;").d-none
                            i.fa.fa-exclamation-triangle.text-warning
                        span#participants.badge-pill.badge-light
                div.container-fluid
                    div.row
                        div.col
                            div.chatArea
                                table
                                    tbody.messages
                input.inputMessage(placeholder="Type here...")
            li.login.page
                div.form
                    h3.title Who would you like to be known as?
                    input.usernameInput(type="text" maxlenght="14")