//
   Created by Jason on 13/11/2017.
doctype
html
    head
        title= "Real time web chat"
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')

    body
        input#newRoom(type='button', value='Test Routing Page')